@charset "utf-8";
*{margin: 0; padding: 0; line-height: 120%;}
ul{list-style: none;}
a{text-decoration: none; color: #f8f8f8;}
body{background-color: #fff;}

.header{width: 100%; height: 175px; position: fixed; top: 0; z-index: 100;}
.header .header-wrap{width: 100%; height: 100%; margin: 0 auto; display: flex; flex-wrap: wrap;}

.header .logo{text-align: center; flex-basis: 100%;}
.header .header-wrap .top label{cursor: pointer;}
.header .header-wrap .top label .btn-line{
    width: 20px;
    height: 2px;
    background-color: #f8f8f8;
    display: block;
    margin-bottom: 5px;
    border-radius: 5px;
}

#menu-btn{display: none;}

.header .header-wrap .top ul li a img{width: 20px;}

.header .header-wrap .top{display: flex; margin-top: 25px; margin-left: 20px;}
.header .header-wrap .top ul{display: flex; position: absolute; right: 20px;}
.header .header-wrap .top ul li{margin-right: 15px;}
.header .header-wrap .top ul li:nth-last-child(1){margin-right: 0;}

.header .header-wrap .nav{width: 100%; margin: 0 auto; position: absolute; top: 150px; text-align: center;}
.header .header-wrap .nav.on{position: fixed;}



.header .header-wrap .nav > ul{width: 1320px; margin: 0 auto; display: flex; margin-top: 60px; justify-content: space-between; flex-wrap: wrap; position: relative;}

.header .header-wrap .nav > ul > li > a{display: inline-block; width: 100%; color: #f8f8f8; position: relative;}

.header .header-wrap .nav > ul > li > a::after{
    content:"";
    width: 0%;
    height: 1px;
    background-color: #f8f8f8;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    bottom: -5px;
}
.header .nav > ul > li > a:hover::after{width: 100%;}

.header .nav ul li .submenu{
    box-sizing: border-box;
    text-transform: uppercase;
    position: absolute;
    transition: 0.5s;
    height: 0;
    overflow: hidden;
    margin-top: 15px;
    font-size: 15px;
    text-align: left;
}

.header .nav ul li:hover .submenu{height: 700px;}
.header .nav ul li .submenu ul li{

    line-height: 30px;
}

:root{
    --swiper-theme-color: #fff;
}
.main-banner{width: 100%; height: 970px; text-align: center;}

.new{width: 100%; height: 1350px;}
.new .new-title{text-transform: uppercase; text-align: center; margin-top: 135px;}
.new .new-title h1{font-family: 'SF_HambakSnow';}
.new .new-title p{margin-top: 20px;}
.ncontent-wrap{width: 1700px; margin: 0 auto; margin-top: 125px;}
.nbox{width: 1370px; margin: 0 auto; display: flex; text-align: center;}
.nbox .rightbox1{transform: translateX(100%) translateY(5%);}
.nbox .rightbox2{transform: translateX(-50%)translateY(45%);}
.nbox .rightbox1 h2{margin-bottom: 25px;}
.nbox .rightbox2 h3{margin-top: 25px; color: #bd9ea1;}
.nbox .rightbox2 h4{margin-top: 5px; color:#bd9ea1;}
.nbox .rightbox2 p{font-size: 14px; margin-top: 15px; color: #202020;}
.nbox .rightbox2 img{box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border-radius: 50%; transition: 0.3s}
.nbox .rightbox2 img:hover{transform: scale(1.1);}

.arrow{position: relative; top: -450px;}
.arrow a:nth-child(1){font-size: 0; position: absolute; width: 50px; height: 10px;background: url(../images/arrow_l.png)no-repeat; left: 100px; }
.arrow a:nth-child(1)::after{content: ""; position: absolute; width: 40px; height: 40px; background-color: #f8f8f8; border-radius: 50%;z-index: -3; top: -15px; left: -16px;}
.arrow a:nth-child(1):hover::after{background-color: #ddd;}
.arrow a:nth-child(2){font-size: 0; position: absolute; width: 50px; height: 10px;background: url(../images/arrow_r.png)no-repeat; right: 100px;}
.arrow a:nth-child(2)::after{content: ""; position: absolute; width: 40px; height: 40px; background-color: #f8f8f8; border-radius: 50%;z-index: -3; top: -15px; left: 25px;}
.arrow a:nth-child(2):hover::after{background-color: #ddd;}

.buy-btn{text-align: center; margin-top: 125px;}
.buy-btn a{color: #202020; font-weight: bold; text-transform: uppercase; position: relative;}
.buy-btn a::after{content: ""; position: absolute; width: 100%; height: 1px; bottom: -5px; background-color: #202020; transform: translate(-100%);}

.iconic{width: 100%; height: 900px; background-color: #110f10; color: #f8f8f8; text-transform: uppercase; padding-top: 200px;}
.iconic .icontent{width: 1360px; margin: 0 auto; position: relative;}
.iconic .icontent .icontent-wrap .ibox{display: flex; flex-wrap: wrap; flex-direction: column; position: relative;}
.iconic .icontent .icontent-wrap .ibox .leftbox1{width: 620px; text-align: center; margin-top: 100px;}
.iconic .icontent .icontent-wrap .ibox .leftbox1 .title p:nth-child(1){font-size: 45px; font-weight: bold; font-family: 'SF_HambakSnow';}
.iconic .icontent .icontent-wrap .ibox .leftbox1 .title p:nth-child(2){font-size: 18px; margin-top: 20px;}
.iconic .icontent .icontent-wrap .ibox .leftbox2{width: 620px; position: absolute; right: 48.5%;}
.iconic .icontent .icontent-wrap .ibox .leftbox2 p{font-size: 20px; margin-top: 50px;}
.iconic .icontent .icontent-wrap .ibox .leftbox2 a{margin-top: 20px; display: block;}
.iconic .icontent .icontent-wrap .ibox .leftbox2{display: flex; text-align: center;}
.iconic .icontent .icontent-wrap .ibox .leftbox2 .icon{margin: 0 20px; margin-top: 230px}
.leftbox2 .icon img{height: 38px;}
.ibox .rightbox{position: absolute; right: 50px; text-align: center;}
.ibox .rightbox img{box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 8px; border-radius: 50%;}
.ibox .rightbox2{position: absolute; right: 0; transform: translateY(120%); transition: 0.5s;}
.ibox .rightbox2:hover{transform: translateY(110%);}
.ibox .rightbox h3{margin-top: 88px; color: #bd9ea1;}
.ibox .rightbox h4{margin-top: 5px; color: #bd9ea1;}
.ibox .rightbox p{font-size: 14px; margin-top: 15px;}

.iarrow{position: absolute; width: 165px; top:450px; left: 220px; }
.iarrow a:nth-child(1){font-size: 0; position: absolute; width: 50px; height: 10px;background: url(../images/arrow_r.png)no-repeat; left: 100px;}
.iarrow a:nth-child(1)::after{content: ""; position: absolute; width: 40px; height: 40px; background-color: #0e0c0d; border-radius: 50%; top: -15px; left: 26px; z-index: -3;}
.iarrow a:nth-child(2){font-size: 0; position: absolute; width: 50px; height: 10px;background: url(../images/arrow_l.png)no-repeat; right: 100px;}
.iarrow a:nth-child(2)::after{content: ""; position: absolute; width: 40px; height: 40px; background-color: #0e0c0d; border-radius: 50%; top: -15px; left: -17px; z-index: -3;}

.recommend{width: 100%; height: 800px;}
.recommend .rtitle{text-align: center; margin-top: 200px; text-transform: uppercase;}
.recommend .rtitle h1{font-family: 'SF_HambakSnow';}
.recommend .rtitle p{margin-top: 20px; font-size: 18px;}
.rcontent{width: 1000px; margin: 0 auto; text-align: center; margin-top: 100px;}
.rcontent .rcontent-wrap{display: flex; justify-content: space-between;}
.rcontent .rcontent-wrap .rbox{position: relative;}
.rcontent .rcontent-wrap .rbox img{height: 250px; transition: 0.5s;}
.rcontent .rcontent-wrap .rbox img:hover{transform: translateY(-10%);}
.rcontent .rcontent-wrap .rbox h4{margin-top: 80px; font-size: 20px;}
.rcontent .rcontent-wrap .rbox p{margin-top: 20px; margin-bottom: 20px;}
.rcontent .rcontent-wrap .rbox .colorchip{width: 100%;}
.rcontent .rcontent-wrap .rbox ul{width: 100%;display: flex; position: relative;}
.rcontent .rcontent-wrap .rbox li{width: 100%;}
.rcontent .rcontent-wrap .rbox li a{color: #c28472;}
.colorchip.b ul li:nth-child(1) a{color: #d8b85d;}
.colorchip.b ul li:nth-child(2) a{color: #cbc7c5;}

.colorchip.d ul li:nth-child(1) a{color: #f0f0ed;}
.colorchip.d ul li:nth-child(2) a{color: #153424}

.colorchip.f ul li:nth-child(1) a{color: #d8b85d;}
.colorchip.f ul li:nth-child(2) a{color: #cbc7c5;}

.bridal{width: 100%; height: 810px;}
.bridal .bwrap{width: 1650px; margin: 0 auto;position: relative; display: flex;}
.bridal .bwrap .bbox2{position: absolute;right: 0; display: flex;}
.bbox1 .btitle{text-transform: uppercase; margin-top: 30px; }
.bbox1 .btitle h1{font-family: 'SF_HambakSnow';}
.bbox1 .btitle p{margin-top: 20px;}
.bconcent{margin-right: 20px;}
.bconcent p{margin-top: 20px; text-align: right; font-size: 25px; color: #f8f8f8;}
.bbox2{position: relative; top: 326px;}
.bbox2::after{content:""; position: absolute; width: 1435px; height: 810px; background-image: url(../images/bridal.png); left: 5.7%; top: -74%; z-index: -10;}

.service{width: 100%;}
.service .stitle{width: 100%; text-align: center; text-transform: uppercase; margin-top: 200px;}
.service .stitle h1{font-family: 'SF_HambakSnow';}
.service .stitle p{margin-top: 20px;}
.service .scontent{width: 1435px; margin: 0 auto; margin-top: 100px;}













@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}